[submodule "references/benchmark_sources/AgencyBench"]
	path = references/benchmark_sources/AgencyBench
	url = https://github.com/GAIR-NLP/AgencyBench
[submodule "references/benchmark_sources/EntCollabBench"]
	path = references/benchmark_sources/EntCollabBench
	url = https://github.com/yutao1024/EntCollabBench.git
[submodule "references/benchmark_sources/MARBLE"]
	path = references/benchmark_sources/MARBLE
	url = https://github.com/MultiagentBench/MARBLE
[submodule "references/benchmark_sources/TeamBench"]
	path = references/benchmark_sources/TeamBench
	url = https://github.com/ybkim95/TeamBench.git
[submodule "references/benchmark_sources/agenlon"]
	path = references/benchmark_sources/agenlon
	url = https://github.com/ufukkaraca/agenlon
[submodule "references/benchmark_sources/agent_arena"]
	path = references/benchmark_sources/agent_arena
	url = https://github.com/alexmar07/agent-arena
[submodule "references/benchmark_sources/aws-mac"]
	path = references/benchmark_sources/aws-mac
	url = https://github.com/aws-samples/multiagent-collab-scenario-benchmark
[submodule "references/benchmark_sources/graph-ipd"]
	path = references/benchmark_sources/graph-ipd
	url = https://github.com/geronest/graph-ipd.git
[submodule "references/benchmark_sources/simploy"]
	path = references/benchmark_sources/simploy
	url = https://github.com/upwork/simploy
